body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:939px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1342_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:736px;
}
#u1342 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:736px;
}
#u1343 {
  position:absolute;
  left:2px;
  top:360px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1344_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(255, 255, 255, 0.698039215686274);
}
#u1344 {
  position:absolute;
  left:819px;
  top:12px;
  width:120px;
  height:48px;
  color:rgba(255, 255, 255, 0.698039215686274);
}
#u1345 {
  position:absolute;
  left:8px;
  top:16px;
  width:104px;
  word-wrap:break-word;
}
#u1346_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:46px;
  background:inherit;
  background-color:rgba(0, 153, 158, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1346 {
  position:absolute;
  left:48px;
  top:440px;
  width:320px;
  height:46px;
  font-size:20px;
}
#u1347 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  word-wrap:break-word;
}
#u1348 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1349_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u1349 {
  position:absolute;
  left:48px;
  top:312px;
  width:320px;
  height:1px;
}
#u1350 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1351 {
  position:absolute;
  left:48px;
  top:280px;
  width:320px;
  height:32px;
}
#u1351_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:32px;
  background-color:transparent;
  font-family:'Roboto-Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:rgba(0, 0, 0, 0.866666666666667);
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1352 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1353_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:323px;
  height:5px;
}
#u1353 {
  position:absolute;
  left:48px;
  top:312px;
  width:320px;
  height:2px;
}
#u1354 {
  position:absolute;
  left:2px;
  top:-7px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1355_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#009688;
  text-align:left;
}
#u1355 {
  position:absolute;
  left:48px;
  top:264px;
  width:52px;
  height:16px;
  font-size:12px;
  color:#009688;
  text-align:left;
}
#u1356 {
  position:absolute;
  left:2px;
  top:1px;
  width:48px;
  white-space:nowrap;
}
#u1357 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1358_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u1358 {
  position:absolute;
  left:48px;
  top:384px;
  width:320px;
  height:1px;
}
#u1359 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1360 {
  position:absolute;
  left:48px;
  top:352px;
  width:320px;
  height:32px;
}
#u1360_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:32px;
  background-color:transparent;
  font-family:'Roboto-Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:rgba(0, 0, 0, 0.866666666666667);
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1361 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1362_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:323px;
  height:5px;
}
#u1362 {
  position:absolute;
  left:48px;
  top:384px;
  width:320px;
  height:2px;
}
#u1363 {
  position:absolute;
  left:2px;
  top:-7px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1364_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.537254901960784);
  text-align:right;
}
#u1364 {
  position:absolute;
  left:274px;
  top:391px;
  width:94px;
  height:20px;
  font-family:'Roboto-Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.537254901960784);
  text-align:right;
}
#u1365 {
  position:absolute;
  left:0px;
  top:2px;
  width:94px;
  visibility:hidden;
  white-space:nowrap;
}
#u1366_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#009688;
  text-align:left;
}
#u1366 {
  position:absolute;
  left:48px;
  top:336px;
  width:94px;
  height:16px;
  font-size:12px;
  color:#009688;
  text-align:left;
}
#u1367 {
  position:absolute;
  left:2px;
  top:1px;
  width:90px;
  white-space:nowrap;
}
#u1368_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1368 {
  position:absolute;
  left:322px;
  top:509px;
  width:36px;
  height:19px;
}
#u1369 {
  position:absolute;
  left:2px;
  top:2px;
  width:32px;
  white-space:nowrap;
}
#u1370_img {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:94px;
}
#u1370 {
  position:absolute;
  left:75px;
  top:103px;
  width:266px;
  height:94px;
}
#u1371 {
  position:absolute;
  left:2px;
  top:39px;
  width:262px;
  visibility:hidden;
  word-wrap:break-word;
}
